<div class="services">
  <nz-row nzType="flex" nzAlgin="middle" nzJustify="start">
    <nz-col>
      <h1>إبدا خدمة جديدة </h1>
    </nz-col>
  </nz-row>
  <nz-row nzType="flex" nzAlgin="middle" nzJustify="start">
    <nz-col>
      <div class="service-card">
        <div class="service-card-icon">
          <img src="../../../assets/majlis.png" alt="majlis" />
        </div>
        <div class="service-card-item">
          <h3>إضافة مجلس</h3>
        </div>
        <div class="service-card-arrow">
          <span nz-icon nzType="left" nzTheme="outline"></span>
        </div>
      </div>
    </nz-col>
  </nz-row>
</div>
